h1{
  font-family: 'Lobster', cursive;
  text-align: center;
}

table{
  margin: auto;
  width: 70%;
  border-spacing: 20px;
}
td{
  height: 400px;
}

#red{
  background-color: #E76F51;

}

#dblu{
  background-color: #264653;
}

#blue{
  background-color: #2A9D8F;
}

#yellow{
  background-color: #E9C46A;
}

#orange{
  background-color: #F4A261;
}
